html,
* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Oceanside-Typewriter";
  src: url("/fonts/Oceanside-Typewriter.ttf");
  font-display: swap;
}
@font-face {
  font-family: "PrequelDemo";
  src: url("/fonts/PrequelDemo-Regular.ttf");
  font-display: swap;
}
li {
  list-style: none;
}